[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
jupyter = "*"
scipy = "*"
scikit-learn = "*"
lxml = "*"
requests = "*"
seaborn = "*"
pymc-learn = "==0.0.1rc3"
joblib = "*"

[dev-packages]

[requires]
python_version = "3.6"
